<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lagerverwaltung___Mode.Properties.Settings.team07ConnectionString_Benutzer"
            connectionString="server=eduweb.kb.local;user id=team07;database=team07;password=T3amO7;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>